# python
03.Computer Network/Flask/venv
03.Computer Network/Flask/__pycache__/hello.cpython-38.pyc

# JetBrains
.idea
out
hello-world.iml
CMakeLists.txt
cmake-build-debug

# Visual Studio
.vscode
.vs
x64
Debug
hello-world.sln
hello-world.vcxproj
hello-world.vcxproj.filters
01.Data Structure/dsacpp-src/_executable