################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode
/.idea
/*.iml
/out
/CMakeLists.txt
/cmake-build-debug
/01.Data Structure/dsacpp-src/src/.vs
/01.Data Structure/dsacpp-src/_executable
/03.Computer Network/Flask/venv
/03.Computer Network/Flask/__pycache__/hello.cpython-38.pyc
*.user